body {
    background-image: url(../media/elementface.jpg);
    margin: auto;
    font-family: Papyrus;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

.container {
    width: 90%;
    line-height:1px;
    color: rgb(102, 100, 100)
}
#instructions {
    width:75%;
    float:left;
    }

.crystal-image {
    width:150px;
    height:150px;
    padding: 0px;
    margin: 10px;
    border: solid 3px rgb(43, 32, 32)
}

.crystal-image:hover {
    border: solid 5px yellowgreen;
}

.instructions {
    width: 50%;
    line-height: .5;
    font-size: 12px;
}

#ts {
    float: left;
    display: block;
    width: 30%;
    font-size: 18px;
}

#targetScore {
    font-size: 30px;
    color: rgb(170, 112, 4);
}

#yourScore {
    color: rgb(7, 134, 143);
    font-size: 30px;
}

#ys {
    position: relative;
    float: left;
    width: 30%;
    font-size: 18px;
    
}

#start {
    background-image: url(../media/button.jpg);
    color: rgb(32, 32, 32);
    border:solid 3px rgb(43, 32, 32);
    transition: 1.5s;
}

#start:hover {
    background-image: url(../media/button2.jpg);
    color: white;
    border: solid 3px white;
}

#row6 {
    margin-left: -25px;
}
#Wins {
    float:left;
    color: yellowgreen;
}

#Losses {
    position: relative;
    left:110px;
    color: rgb(216, 91, 53);
}

#resultsW {
    color: yellowgreen;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#resultsL {
    color: rgb(216, 91, 53);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

